@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  max-width: 800px;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  background-color: skyblue;
  padding: 1rem;
  border-radius: 20px;
}
